.button {
  font-size: 1.7rem;
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10rem;
    transition: all 200ms;
    position: relative;

    animation: moveInBottom 1s ease 200ms;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    transition: all 50ms;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &-green {
    border-radius: 100px;
    background-color: #42b4bb;
    color: white;
    padding: 1.5rem 4rem;
  }

  //&-green::after{
  //  background-color: #86ff99;
  //}
  //
  //&:hover::after {
  //  animation-name: buttonPing;
  //  animation-fill-mode: backwards;
  //  backface-visibility: hidden;
  //  animation-duration: 400ms;
  //  animation-timing-function: ease;
  //}
}
