$light_green: rgb(104, 188, 103);
$med_green: #55c57a;
$dark_green: rgba(40, 180, 133, 1);

$yellow: rgb(255, 206, 0);
$orange: #ff7730;

$light_blue: #46beff;
$dark_blue: rgb(0, 92, 204);

$purple: rgb(124, 105, 208);

$grey: #808080;
