@import "abstracts/variables";

.navigation{
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 70px;
  width: 100vw;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 1.7rem;
  background: linear-gradient(to bottom right, #ff4336, #b62534);
  margin-left: auto;
  margin-right: auto;

  animation: opacity 600ms ease-out;

  &__login{
    font-size: inherit;
    color: white;
    font-family: inherit;
    background: linear-gradient( to bottom right, #6ecb6d, $dark_green);
    border: none;
    border-radius: 100px;
    padding: 0.6rem 1.5rem;
  }

  &__user{
    background: transparent;
    border: none;

    &--image{
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}


@keyframes opacity {
  0%{
    opacity: 0
  }
  100%{
    opacity: 1;
  }
}