.runPage{
  position: relative;
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  max-width: 700px;
  padding-top: 3rem;
  background: linear-gradient(to bottom right, #555555, #333333);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-left: auto;
  margin-right: auto;

  animation: moveInTop 500ms ease;

  &__measurement{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    &--title{
      font-size: 2rem;
      padding: 1rem 2rem;
    }

    &--button{
      font-family: Avenir, Helvetica, sans-serif;
      cursor: pointer;
      background-color: transparent;
      color: white;

      &:active{
        transition: 100ms ease;
        transform: scale(1.2) translateY(5px);
      }

      &:not(:active){
        animation: bounce 200ms ease-out;
      }
    }

    &--number{
      background-color: transparent;
      color: white;
      border: none;
      font-size: 5rem;
      padding: 0 2rem;
    }

    &--increase{
      cursor: pointer;
      background: none;
      color: white;
      border: none;
      padding: 0 2rem;
      position: absolute;
      right: -50px;
      font-size: 5rem;
    }

    &--decrease{
      cursor: pointer;
      background: none;
      color: white;
      border: none;
      padding: 0 2rem;
      position: absolute;
      left: -50px;
      font-size: 5rem;
    }
  }

  &__button {
    font-family: Avenir, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);

    transition: all ease 200ms;

    &--reset {
      top: 2rem; left: 2rem;
      font-size: 1.4rem;
    }
    &--upload {
      top: 2rem; right: 2rem;
      font-size: 1.3rem
    }

    &:active {
      transition: 100ms ease;
      transform: scale(1.2) translateY(5px);
    }

    &:not(:active){
      animation: bounce 200ms ease-out;
    }
  }
}

@keyframes moveInTop {
  0%{
    transform: translateY(-100vw);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%{
    transform: translateY(5px) scale(1.2);
  }
  50%{
    transform: translateY(-10px) scale(1.1);
  }
  100%{
    transform: translateY(0) scale(1);
  }
}